.container {
    margin-top: 100px;
}

form {
    max-width: 330px;
    margin: 0 auto;
    margin-top: 40px;
    background-color: #ededed;
    padding: 30px;
    text-align: left;
    overflow: hidden;
    box-shadow: 10px 10px 19px 0 #c3d8ea;
}

.envoyer {
    color: #fff;
    background-color: #7cc4cc;
    display: block;
    width: 100%;
    padding: .75rem 1.5rem;
    font-size: 1.80rem;
    border-radius: 0;
    transition: 0.5s;
    border: none;
    font-weight: bold;
}

.envoyer:hover {
    transition: 0.5s;
    box-shadow: 4px 4px #0E4551;
    color: white;
    border: none;
    border-radius: 0;
    font-weight: bold;
}

input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-control {
    display: block;
    width: 100%;
}

h1 {
    margin: auto;
    text-align: center;
    background-color: rgb(246, 246, 246);
    color: #3a648e;
    box-shadow: 6px 6px 19px 0 #c3d8ea;
    width: 48%;
    padding: 25px;
}

.password.mdp{
    margin-top: 23px;
}

.bts-mdp{
    background-color: #e4551d;
    color: white;
    padding: 9px;
    transition: 0.5s;
}

.bts-mdp:hover{
    background-color: #e4551d;
    color: white;
    padding: 9px;
    transition: 0.5s;
    box-shadow: 4px 4px #0E4551;
    text-decoration: none;
}