{% extends '::layout.html.twig' %}
{% block title %}{{ parent() }}{% trans %} - Blog{% endtrans %}{% endblock %}

{% block body %}
    <div class="container">
        <div class="aPropos">
            <h1>{% trans %}Actualités<br>Blog{% endtrans %}</h1>
            <div class="row">
                <p>Retrouvez ici toutes nos actualitées, nos évenements, nos petits moments partagés... </p>
            </div>
        </div>
    </div>
{% endblock %}