{% extends '::layout.html.twig' %}
{% block title %}{{ parent() }}{% trans %} - Marie-Helene LAVERGNE{% endtrans %}{% endblock %}

{% block body %}
    <div class="container">
        <div class="aPropos">
            <h1>{% trans %}Marie-Helene LAVERGNE{% endtrans %}</h1>
            <div class="row">
            </div>
        </div>
    </div>
{% endblock %}